
/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Colors */
  --pink: #ff0066;
  --lightpink: #ffcce0;
  --blue: #1a1aff;
  --lightblue: #ccccff;
  --color: #4d4d4d;
  --custom: #1a1aff;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: rgb(255, 251, 238);
  color: #ffb100; 
  position: relative;
  z-index: 1;
}

/* .img-box img {
  width: 100%;
  height: 100%;
} */

.icon img {
  width: 20px;
}

section {
  position: relative;
  min-height: 100vh;
  background-color: rgb(255, 251, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5;
}

section.active{
  background-color: rgb(255, 251, 238);
}

small{
  color:red;
}

section .container {
  position: relative;
  width: 600px;
  height: 600px;
  background-color:rgb(255, 251, 238);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

section .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

/* section .img-box {
  width: 0%;
  transition: all 500ms ease-in-out;
} */

section .form-box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 255, 0, 0.178);
  transition: 500ms ease-in-out;
}

section .form-box .top {
  position: absolute;
  top: 14px;
  right: 14px;
}

section .form-box .top p {
  font-size: 13px;
  color: black;
  font-weight: 400;
}

section .form-box .top span {
  color:  #ffb100;
  cursor: pointer;
}

section .form-box .top span:hover{
  color: rgb(255, 115, 0);
}

section form {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section form .form-control:first-child {
  text-align: center;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}  /* For remove arrow button from number input */

section form .form-control:first-child input {
  /* -webkit-appearance: none; */
  font-family: 'Merriweather', serif;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px 60px;
  margin-bottom: 10px;
  /* margin: 10px; */
  text-indent: 16px;
  color: var(--color);
  outline: none;
  width:100%;
  text-align: center;
  /* border: none; */
}

section form .form-control:first-child input[type="submit"] {
  display: block;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  /* background-color: #fc7c7c; */
  /* color: white; */
  background-color:#ffb100 ;
  color: black ;
  font-weight: bold;
  transition: 0.5s;
}

section form .form-control:first-child input[type="submit"]:hover {
  background-color: rgb(247, 236, 202);
  color:black;
}

section form .form-control:first-child h2 {
  width: 100%;
  font-weight: bold;
  font-size: 26px;
  padding: 15px;
}

section form .form-control:first-child span {
  font-size: 13px;
  display: block;
  text-align: right;
  margin-bottom: 20px;
}

section form .form-control:first-child div {
  position: relative;
}

section form .form-control:first-child .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  cursor: pointer;
}

section form .form-control:last-child {
  text-align: center;
}

section form .form-control:last-child p {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

section form .form-control:last-child p::after {
  content: "";
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}

section form .form-control:last-child p::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #ddd;
}

section form .form-control:last-child .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

section form .form-control:last-child .icon {
  cursor: pointer;
}

section form .form-control:last-child .icon:not(:last-child) {
  margin-right: 15px;
}



@media (max-width: 996px) {
  section .container {
    max-width: 400px;
  }

  /* section .container .img-box {
    display: none;
  } */

  section .container .form-box {
    width: 100%;
  }

  /* section .container.active .login .form-box {
    top: -100%;
  } */
  section form .form-control:first-child input{
    padding: 10px 20px;
    font-size: 9px;
  }
}

@media (max-width: 567px) {
  section {
    padding: 0 30px;
  }
}

.top .a-link{
  font-weight: bold;
  color: #ffb100;
  text-decoration: none;
}
.top .a-link:hover{
  color: rgb(255, 115, 0);
  cursor: pointer;
}

/* validation form */

.form-control small{
  font-size: xx-small;
  padding: 0;
  margin: 0;
  font-weight: bold;
}