body{
    width: 400px;
    height: 400px;
    background-color: rgb(250, 248, 241);
    /* display: flex; */
    justify-content: center;
}

.logo{
    margin: auto;
    width: 50%;
    padding: 10px; 
}

h4{
    font-family: 'Baloo Bhai 2', cursive; 
    text-align: center;
    color: rgb(0, 16, 247);
    display: inner-flex;
    margin: auto;
    font-size: 22px;
    border-radius: 20px;
    border: 5px solid black;
    padding: 10px 10px;
}

/* For Refresh Button  */
.refresh-btn{
    margin: auto;
    width: 35%;
    padding: 20px 10px;
}
.ref-btn{
    font-weight: bold;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 15px;
    padding: 5px;
    position: sticky;
    background-color: #FFCC31;
}
.ref-btn:hover{
    background-color: orange;
    cursor: pointer;
}

/* For go to site  */

#link-site{
    margin: auto;
    width: 40%;
    padding-top: 20px ;
}

#link-site p{
    color: black;
    font-family: 'Baloo Bhai 2', cursive ;
    font-size: 13px;
    font-weight: bold;
}

#link-site a{
    
    font-weight: bold;
    color: black;
    font-family: 'Baloo Bhai 2', cursive ;
    text-decoration: none;
}

.btn{
    border: 2px solid black;
    border-radius: 30px;
    font-size: 15px;
    padding: 5px;
    position: sticky;
    background-color: #FFCC31;
}
.btn:hover{
    background-color: orange;
    cursor: pointer;
}
